body {
  font-family: Fauna one, sans-serif;
  background-color: #f1f1f1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #343434;
}

h2 {
  font-family: "Shrikhand", sans-serif;
  color: #343434;
}

.section h2 {
  border-bottom: 2px solid #003dff;
  padding-bottom: 5px;
}

ul {
  list-style: none;
}
li::before {
  content: "";
  display: inline-block;
  background-color: #343434;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  border-radius: 10px;
}

header {
  display: flex;
}

.gauche {
  width: 50%;
  padding: 10px;
  margin: 10px;
  border: 5px;
}

.droite {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 5px;
}

main {
  display: flex;
}
